<div class="container">
    <div class="row justify-content-center">
       <div class="col-sm-11">
            <div class="form-group row mb-3">
                <div class="row form-group position-relative mb-1 w-100">
                    <div class="d-flex justify-content-between ">
                        <label  class="w-100 col-form-label text-left">Buscar por Ruc/Razón Social: </label>
                    </div>
                    <div class="col-sm-12 text-left">
                    <p-autoComplete  [inputId]="'busqueda'"
                        field="nombrecomercial"
                        [minLength]="3"
                        [suggestions]="listaEmpresa"
                        (completeMethod)="search($event)"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
                        class="p-autocomplete">
                        </p-autoComplete>
                    </div>
                    <div>
                        <hr/>
                    </div>
                    <div class="col-sm-6">
                        <label for="nombre" class="w-100  col-form-label text-left ">Tipo de Documento:</label>
                        <div class="w-100 ">
                            <input id="tipodocumento" name="tipodocumento" class="form-control input-tpp" type="text"  (change)="enviarTipodocumento($event)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="dni" class="w-100 col-form-label text-left">Numero de Documento:</label>
                        <div class="w-100  position-relative ">
                            <input id="numerodocumento" class="form-control input-tpp" type="text" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-6">
                    <label for="nombre" class="w-100  col-form-label text-left ">Nombre o Razón Social:</label>
                    <div class="w-100 ">
                        <input id="razonsocial" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="dni" class="w-100 col-form-label text-left">Nombre Comercial:</label>
                    <div class="w-100  position-relative ">
                        <input id="nombrecomercial" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
            </div> 

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-4">
                    <label for="nombre" class="w-100  col-form-label text-left ">Fecha Inscripción:</label>
                    <div class="w-100 ">
                        <input id="fechainscripcion" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="dni" class="w-100 col-form-label text-left">Condición:</label>
                    <div class="w-100  position-relative ">
                        <input id="condicion" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
                <div class="col-sm-4">
                    <label for="dni" class="w-100 col-form-label text-left">Estado:</label>
                    <div class="w-100  position-relative ">
                        <input id="estado" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
            </div> 

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-6">
                    <label for="nombre" class="w-100  col-form-label text-left ">Dirección Fiscal:</label>
                    <div class="w-100 ">
                        <input id="direccionfiscal" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="dni" class="w-100 col-form-label text-left">Actividad Económica:</label>
                    <div class="w-100  position-relative ">
                        <input id="actividadeconomica" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
            </div> 
         
        </div>
    </div>
</div>
