<div class="row mb-2 ">
    <div class="col-lg-12 col-6 -title">
        <h1 class="title content-title mb-0 desktop-title">{{ titulo }}</h1>
    </div>
</div>
<div class="row mb-3 filter-actions">
    <div class="col-lg-8 col-md-6 filter-group filter-search">
        <div class="row filter-group-row">

            <div class="filter-btn col-lg-3 col-12 ">
                <div class="filter-title-mobile">
                    <h1 class="title content-title mb-3">{{ filtro }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

