$primary-color: #5A6770;
$secondary-color: #FF6A35;
$white: #ffffff;
$blue: #154C83;
$lightblue: #109CF1;
$yellow: #F2BC00;
$green: #A3DE27;
$darkgreen: #5DBF39;
$red: #F7685B;
$gray: #828282;
$gray-2: #C2CFE0;
$gray-3: #DCDCF8;
$black-1: #5A646E;
$bluegray: #323C47;
$background: #F5F6F8;
$disabled: #231F20;
$font-regular: 'Poppins-Regular';
$font-light: 'Poppins-Light';
$font-medium: 'Poppins-Medium';
$font-bold: 'Poppins-Bold';

