<div class="container container-history">
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <p class="tpp-close" (click)="cerrar()">
                <ico-close class="ico-primary ico-close pointer"></ico-close>
            </p>
            <h1 class="modal-title">Listado de Clientes</h1>
        </div>
    </div>
    <div class="d-flex mb-4">
        <div class="form-group col-12 mb-3 ">
            <label for="un" class="col-sm-9 tpp-label">Filtrar por:</label>
            <div class="col-sm-12">
                <div class="form-group row mb-3">
                    <div class="row form-group position-relative mb-1 w-100">
                        <div class="col-sm-3">
                            <div class="w-100 ">
                                <input class="form-check-input mr-0 mr-lg-3" name="tipoApl" type="radio" value="1"  [checked]="tipo == 1" (change)="cambiarTipo(1)">Por Categoría.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="w-100  position-relative text-right ">
                                <input class="form-check-input mr-0 mr-lg-3" name="tipoApl" type="radio" value="2" [checked]="tipo == 2"  (change)="cambiarTipo(2)">Por Tipo de Operador.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="w-100  position-relative text-right ">
                                <input class="form-check-input mr-0 mr-lg-3" name="tipoApl" type="radio" value="2" [checked]="tipo == 3" (change)="cambiarTipo(3)">Por Producto.
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="w-100  position-relative text-right ">
                                <input class="form-check-input mr-0 mr-lg-3" name="tipoApl" type="radio" value="2" [checked]="tipo == 4" (change)="cambiarTipo(4)">Por Sector.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-left">
                <p-autoComplete  [inputId]="'busqueda'"
                    field="{{ campobusqueda }}"
                    [minLength]="3"
                    [suggestions]="listaBusqueda"
                    (completeMethod)="search($event)"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                    class="p-autocomplete"
                    [placeholder]="placeholderText">
                    </p-autoComplete>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="card br-15 bs-6 pr-1 pl-1">
                <div class="card-body header">
                    <div class="row lista justify-content-center align-items-center">
                        <div class="border-right text-center col-4">
                            <span class="font-weight-bold">Nombre Comercial</span>
                        </div>
                        <div class="border-right text-center col-4">
                            <span class="font-weight-bold ml-3">Ruc </span>
                        </div>
                        <div class=" text-center col-4 ">
                            <span class="font-weight-bold ml-3">Razón Social </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body body mt-2">
                <div class="row">
                    <div class="d-flex position-relative justify-content-center align-items-center mb-3">
                        <div class="col-4 position-relative text-center">
                            <span>xxxx</span>
                        </div>
                        <div class="col-4  h-auto pl-2 pr-3 text-center">
                            <p class=" brk-w">xxxx</p>
                        </div>
                        <div class="col-4  position-relative text-center ">
                            <p class=" brk-w">xxxx</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>


</div>
