.lista {
    .font-weight-bold.brk-w.dark {
        color: #ff6a35 !important
    }
}

.bg-bluegray {
    background-color: #f3f5f9 !important;
    color: #5a6770 !important;
    width: max-content;
    word-break: break-all;
    width: 93px;
    font-size: 9.5px !important;
}

.tooltips.top:hover span,
.tooltips.bottom:hover span {
    padding: 1rem 0.4rem;
    left: -20%;
}

.tooltips.top span,
.tooltips.bottom span {
    padding: 1rem 0.4rem;
}

.tooltips {
    width: 100%;
    height: 100%;
    position: relative;
    &.arrow-bluegray {
        & span.title-header {
            visibility: visible;
            padding: 0;
            position: initial;
            font-size: 11px !important;
            line-height: inherit;
        }
        &.bottom {
            span.title-header:after {
                bottom: 100%;
                border: 0;
            }
        }
        &.bottom {
            span:after {
                bottom: 100%;
                border: 0;
            }
        }
        &.top {
            span:after {
                top: 100%;
                border: 0;
            }
        }
        &.right {
            span:after {
                left: 0;
                border: 0;
            }
        }
        &.left {
            span:after {
                right: -7%;
                border: 0;
            }
        }
    }
}

 :host ::ng-deep .lista.row .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover,
 :host ::ng-deep .lista.row .ui-chkbox .ui-chkbox-box.ui-state-active,
 :host ::ng-deep .lista.row .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #ff6a35 !important;
    background-color: #ffffff2e !important;
    color: #ff6a35 !important;
    border-width: 2px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    .tooltips span,
    .ui-chkbox-icon {
        visibility: visible !important;
    }
}