
<div class="container">
    <div class="form-group col-11 d-flex justify-content-end align-content-end">
        <button   class=" btn btn-bluegray hide-mobile  mb-2" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
            <ico-documento class="ico-white pr-2"></ico-documento>Actualizar información desde sunat
        </button>
    </div>
    <div class="row justify-content-center">
       <div class="col-sm-11">
            <div class="form-group row mb-3">
                <div class="row form-group position-relative mb-1 w-100">
                    <div class="col-sm-6">
                        <label for="nombre" class="w-100  col-form-label text-left ">Tipo de Documento:</label>
                        <div class="w-100 ">
                            <select class="form-control input-tpp"  id="tipodocumento" (change)="enviarTipoDocumento()">
                                <option  *ngFor="let tipo of listadoTipoDocumentos"  [selected]="tipo.id == tipoDocumentoID" value="{{tipo.id }}" >{{ tipo.tipodocumento }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="dni" class="w-100 col-form-label text-left">Numero de Documento:</label>
                        <div class="w-100  position-relative ">
                            <input id="numerodocumento" class="form-control input-tpp" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-6">
                    <label for="nombre" class="w-100  col-form-label text-left ">Nombre o Razón Social:</label>
                    <div class="w-100 ">
                        <input id="razonsocial" autocomplete="off" class="form-control input-tpp" type="text" (blur)="enviarRazonSocial($event)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="dni" class="w-100 col-form-label text-left">Nombre Comercial:</label>
                    <div class="w-100  position-relative ">
                        <input id="nombrecomercial" autocomplete="off" class="form-control input-tpp" type="text" (blur)="enviarNombreComercial($event)">
                    </div>
                </div> 
            </div> 

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-4">
                    <label for="nombre" class="w-100  col-form-label text-left ">Fecha Inscripción:</label>
                    <div class="w-100 ">
                        <input id="fechainscripcion" autocomplete="off" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="dni" class="w-100 col-form-label text-left">Condición:</label>
                    <div class="w-100  position-relative ">
                        <input id="condicion" autocomplete="off" class="form-control input-tpp" type="text">
                    </div>
                </div> 
                <div class="col-sm-4">
                    <label for="dni" class="w-100 col-form-label text-left">Estado:</label>
                    <div class="w-100  position-relative ">
                        <input id="estado" autocomplete="off" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
            </div> 

            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-12">
                    <label for="nombre" class="w-100  col-form-label text-left ">Dirección Fiscal:</label>
                    <div class="w-100 ">
                        <input id="direccionfiscal" autocomplete="off" class="form-control input-tpp" type="text" (blur)="enviarDireccionFiscal($event)">
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="dni" class="w-100 col-form-label text-left">Actividad Económica:</label>
                    <div class="w-100  position-relative ">
                        <input id="actividadeconomica" autocomplete="off" class="form-control input-tpp" type="text" >
                    </div>
                </div> 
            </div> 
           <br/>
            <div class="row form-group position-relative mb-1 w-100">
                <div class="d-flex justify-content-between ">
                    <label style="color: #fe7041;" class="w-100 col-form-label text-left">INFORMACIÓN SAP: </label>
                </div>
                <hr>
                <div class="col-sm-6">
                    <label for="nombre" class="w-100  col-form-label text-left ">Código SAP:</label>
                    <div class="w-100 ">
                        <input id="codigosap" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="dni" class="w-100 col-form-label text-left">Domínio:</label>
                    <div class="w-100  position-relative ">
                        <input id="dominio" class="form-control input-tpp" type="text" (blur)="enviarDominio($event)">
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>

