<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-11">
            <div class="form-group row mb-3">
                <div class="row form-group position-relative mb-1 w-100">

                    <div class="form-group row mb-2 check-group">
                        <div class="d-flex pb-3 flex-wrap">
                            <div class="col-sm-2 col-form-label">
                                <label class=" text-left w-100">Estado Suspensión:</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="row position-relative justify-content-end">
                                    <div class="col-sm-11  d-flex align-items-center justify-content-start flex-wrap ">
                                        <div class="form-check form-check-inline flex-wrap w-cnt2 my-2">
                                            <div class="d-flex container-check">
                                                <input class="form-check-input " type="checkbox" name="rdo_contenedores" id="id">
                                                <label class="form-check-label font-normal ml-2" for="">Cliente Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-11  d-flex align-items-center justify-content-start flex-wrap ">
                                        <div class="form-check form-check-inline flex-wrap w-cnt2 my-2">
                                            <div class="d-flex container-check">
                                                <input class="form-check-input " type="checkbox" name="rdo_contenedores" id="id">
                                                <label class="form-check-label font-normal ml-2" for="">Cliente Suspendido</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group position-relative mb-1 w-100">
            <div class="col-sm-12">
                <label for="nombre" class="w-100  col-form-label text-left">Suspendido con (Empresa):</label>
                <div class="w-100  text-left">
                    <p-multiSelect [style]="{'width':'100%'}"  
                            [options]="cities" 
                            [(ngModel)]="selectedCities2" 
                            defaultLabel="" 
                            optionLabel="name" display="chip"
                            [filter]=true
                            [maxSelectedLabels]="10"> 
                    </p-multiSelect>
                </div>
            </div>
        </div> 
        <div class="form-group row mb-3">
            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-6">
                    <label for="nombre" class="w-100  col-form-label text-left ">Motivo Suspensión:</label>
                    <div class="w-100 ">
                        <input id="motivosuspension" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="dni" class="w-100 col-form-label text-left">Instrucción recibida de:</label>
                    <div class="w-100  position-relative ">
                        <input id="instruccionrecibida" class="form-control input-tpp" type="text" >
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="row form-group position-relative mb-1 w-100">
                <div class="col-sm-3">
                    <label for="nombre" class="w-100  col-form-label text-left ">Plazo de Crédito:</label>
                    <div class="w-100 ">
                        <input id="plazocredito" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="dni" class="w-100 col-form-label text-left">Tasa Interés Libro:</label>
                    <div class="w-100  position-relative ">
                        <input id="tasaintereslibro" class="form-control input-tpp" type="text" >
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="nombre" class="w-100  col-form-label text-left ">Tasa Interés Especial:</label>
                    <div class="w-100 ">
                        <input id="tasainteresespecial" class="form-control input-tpp" type="text">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="dni" class="w-100 col-form-label text-left">Calificación del Riesgo:</label>
                    <div class="w-100  position-relative ">
                        <input id="calificacionsolicitud" class="form-control input-tpp" type="text" >
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
